# Folders:
.DS_Store/
.vs/
bin/
cache/
log/
obj/
node_modules/

# Files:
*.csproj.user
*~

# Project specific:
bison-parser.c
bison-parser.h
flex-scanner.c

.idea/
.vscode/
*.log
*.class

Output.java

src/backend/generated-java/source_classes/target/maven-status/maven-compiler-plugin/compile/default-compile/

src/backend/generated-java/source_classes/target/
